<%-include("header.ejs") %>
<link rel="stylesheet" href="/css/email.css">
<main class="main-bg-container d-flex justify-content-center align-items-center" >
  <section class="Card">
    <h1>Contacto</h1>
    <form method="post" action="/email" novalidate>

       <input type="hidden" name="productId" value="<%= product._id %>">
        <div class="form_input">
            <label for="from">
              <strong>From</strong>
            </label>
            <label>
              <%= session.userEmail %>
            </label>
        
        </div>


        <div class="form_input">
            <label for="to">
              <strong>To</strong>
            </label>
            <label>
              <%= product.owner.email %>
            </label>
            
        </div>
        <div class="form_input">
            <label for="subject">
              <strong>Subject</strong>
            </label>
            <label>
              <%= product.name  %>
            </label>
          
        </div>
        <div class="form_input">
           <label for="content">Mensaje</label>
           <textarea
           name="content"
           id="content"
           required
           rows="5"
           >
           <%= content || ''  %>
           </textarea>
           <% if (errors && errors.content && errors.content.msg) { %>
            <div class="alert" role="alert">
              <%= errors.content.msg %>
            </div>
          <% } %>
        </div>
        <div class="form_action">
          <button type="submit" class="btn btn mt-4">
            Send
          </button>
        </div>
      </form>
    </section>
</main>
<%-include("footer.ejs") %>
</body>
</html>


