<%-include("header.ejs") %>
<link rel="stylesheet" href="/css/email.css">
<main class="main-bg-container d-flex justify-content-center align-items-center" >
  <section class="Card">
    <h1><%= __('email.title') %></h1>
    <form method="post" action="/email" novalidate>
      <input type="hidden" name="productId" value="<%= product._id %>">
        <div class="form_input">
            <label for="from">
              <strong><%= __('email.from') %></strong>
            </label>
            <label>
              <%= session.userName %>
            </label>
        </div>
        <div class="form_input">
            <label for="to">
              <strong><%= __('email.to') %></strong>
            </label>
            <label>
              <%= product.owner.email %>
            </label>   
        </div>
        <div class="form_input">
            <label for="subject">
              <strong><%= __('email.subject') %></strong>
            </label>
            <label>
              <%= product.brand  %>
            </label>
          
        </div>
        <div class="form_input">
            <label for="content"><%= __('email.message') %></label>
            <textarea
            name="content"
            id="content"
            required
            rows="5"
            >
            <%= content || ''  %>
            </textarea>
            <% if (errors && errors.content && errors.content.msg) { %>
            <div class="alert" role="alert">
              <%= errors.content.msg %>
            </div>
          <% } %>
        </div>
        <div class="form_action">
          <button type="submit" class="btn"><%= __('email.send') %></button>
          <button type="button" class="btn btn-secondary" onclick="window.history.back()">⬅️ <%= __('common.back') %></button>
        </div>        
      </form>
    </section>
</main>
<%-include("footer.ejs") %>
</body>
</html>


