<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('error.' + (error.status || 500)) %></title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <main class="main-bg-container">
        <section class="Card">
            <h1><%= __('error.' + (error.status || 500)) %></h1>
            <h2><%= error.status || 500 %></h2>
            <% if (process.env.NODECARS_ENV === 'development') { %>
                <pre><%= error.stack %></pre>
            <% } else { %>
                <p><%= __('error.genericMessage') %></p>
            <% } %>
            <a href="/" class="btn"><%= __('common.home') %></a>
        </section>
    </main>
</body>
</html>