<%-include("header.ejs") %>

<main class="main-bg-container container py-5">
<p>🚗 <%= __('home.welcome') %> 🫂 <%= session.userName %></p>

<button onclick="toggleFilters()">Filtros</button>
        <div id="filter-form" style="display: none;">
            <form action="/" method="GET">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Nombre del producto">
                
                <label for="model">Modelo:</label>
                <input type="text" id="model" name="model" placeholder="Modelo del producto">
                
                <label for="color">Color:</label>
                <input type="text" id="color" name="color" placeholder="Color del producto">
                
                <label for="year">Año:</label>
                <input type="number" id="year" name="year" placeholder="Año del producto">
                
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" placeholder="Precio del producto">
                
                <label for="kilometer">Kilometraje:</label>
                <input type="number" id="kilometer" name="kilometer" placeholder="Kilometraje del producto">
                
                <button type="submit">Aplicar Filtros</button>
            </form>
        </div>

        <h1>Todos los asuncios </h1>
        <% products.forEach(product => { %>
            <div class="container">
                <h2><%= product.name %></h2>
                <p><%= __('home.product.model') %>: <%= product.model %></p>
                <p><%= __('home.product.color') %>: <%= product.color %></p>
                <p><%= __('home.product.year') %>: <%= product.year %></p>
                <p><%= __('home.product.price') %>: <%= product.price %></p>
                <p><%= __('home.product.kilometer') %>: <%= product.kilometer %></p>
                <img src="<%= product.image ? `/imagenes/${product.image}` : 'https://placehold.co/100' %>" alt="<%= __('home.product.image') %>" width="100">
            </div> 
        <% }) %>
        
        <div class="pagination mt-4">
            <% if (skip > 0) { %>
                <a href="?skip=<%= skip - limit %>&limit=<%= limit %>" class="btn btn-secondary">Anterior</a>
            <% } %>
            <% if (skip + limit < count) { %>
            <a href="?skip=<%= skip + limit %>&limit=<%= limit %>" class="btn btn-secondary ms-2">Siguiente</a>
            <% } %>
        </div>

    

</main>
<%-include("footer.ejs") %>
