<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= __('login.title') %></title>
</head>
<body>
<%-include("header.ejs") %>
<main class="main-bg-container">
  <section class="FormCard">
    <h1><%= __('login.title') %></h1>
    <% if (typeof redirectMessage !== 'undefined' && redirectMessage) { %>
      <div class="alert alert-warning text-center" role="alert">
        <%= redirectMessage %>
      </div>
    <% } %>
    <form method="post" action="/login" novalidate>
      <div class="form_input">
        <label for="email">
          <strong><%= __('login.email') %></strong>
        </label>
        <input class="input" type="email" id="email" placeholder="<%= __('login.email') %>" autocomplete="off" name="email" 
        value="<%= email || ''  %>" required />
    
      </div>
      <div class="form_input">
        <label for="password">
          <strong><%= __('login.password') %></strong>
        </label>
        <input class="input" type="password" id="password" required placeholder="<%= __('login.password') %>" name="password"  value="<%= password || '' %>"  />
        <% if(errors.password || errors.email)  { %>
          <div class="alert">
            <%= errors.password.msg %>
          </div>
        <% } %>
      </div>
      <div class="form_action">
        <button type="submit" class="btn">
          <%= __('login.login') %>
        </button>
      </div>
    </form>
  </section>
</main>
<%-include("footer.ejs") %>
</body>
</html>