<%- include("header.ejs") %>

<main class="container py-5">
    <h1>Mis Anuncios</h1>
    <% products.forEach(product => { %>
        <div class="container">
            <h2><%= product.name %></h2>
            <p>Modelo: <%= product.model %></p>
            <p>Color: <%= product.color %></p>
            <p>Año: <%= product.year %></p>
            <p>Precio: $<%= product.price %></p>
            <p>Kilometraje: <%= product.kilometer %> km</p>
            <img src="<%= product.image ? `/imagenes/${product.image}` : 'https://placehold.co/100' %>" alt="<%= product.name %>" width="100">

        </div>
        <div>
            <!-- Botón para editar el producto -->
            <a href="/myproducts/edit/<%= product._id %>" class="btn btn-warning">
                <i class="bi bi-pencil"></i> Editar
            </a>
            <!-- Botón para borrar el producto -->
            <form action="/myproducts/delete/<%= product._id %>?_method=DELETE" method="POST" style="display: inline;" onsubmit="return confirm('¿Estás seguro de que deseas borrar este producto?');">
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash3"></i> Borrar
                </button>
            </form>
        </div>
    <% }) %>
        <div class="pagination mt-4">
            <% if (skip > 0) { %>
                <a href="?skip=<%= skip - limit %>&limit=<%= limit %>" class="btn btn-secondary">Anterior</a>
            <% } %>
            <% if (skip + limit < count) { %>
            <a href="?skip=<%= skip + limit %>&limit=<%= limit %>" class="btn btn-secondary ms-2">Siguiente</a>
            <% } %>
        </div>
</main>

<%- include("footer.ejs") %>