<%- include('header.ejs') %>
<main class="main-bg-container">
  <section class="FormCard">
    <h1 class="mb-4 text-center"><%= __('newProduct.title') %></h1>
    <form action="/products/new" method="POST" enctype="multipart/form-data">
      <div class="form_input mb-3">
        <label for="name"><%= __('newProduct.name') %></label>
        <input class="input" type="text" id="name" name="name" required>
      </div>
      <div class="form_input mb-3">
        <label for="model"><%= __('newProduct.model') %></label>
        <input class="input" type="text" id="model" name="model" required>
      </div>
      <div class="form_input mb-3">
        <label for="color"><%= __('newProduct.color') %></label>
        <input class="input" type="text" id="color" name="color" required>
      </div>
      <div class="form_input mb-3">
        <label for="year"><%= __('newProduct.year') %></label>
        <input class="input" type="number" id="year" name="year" required>
      </div>
      <div class="form_input mb-3">
        <label for="price"><%= __('newProduct.price') %></label>
        <input class="input" type="number" id="price" name="price" required>
      </div>
      <div class="form_input mb-3">
        <label for="kilometer"><%= __('newProduct.kilometer') %></label>
        <input class="input" type="number" id="kilometer" name="kilometer" required>
      </div>
      <div class="form_input mb-3">
        <label for="image"><%= __('newProduct.image') %></label>
        <input class="input" type="file" id="image" name="image" accept="image/*">
      </div>
      <div class="form_action">
        <button type="submit" class="btn btn-primary w-100 mt-3"><%= __('newProduct.create') %></button>
      </div>
    </form>
  </section>
</main>
<%- include('footer.ejs') %>