<%- include("header.ejs") %>
<main class="main-bg-container container py-5 d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
    <section class="FormCard w-100" style="max-width: 500px;">
        <h1 class="text-center mb-4">Perfil</h1>
        <form method="put">

            <button type="submit">Guardar</button>
            <a  href="/signout">Borrar usuario</a>
        </form>
        <p><strong>Nombre:</strong> <%= session.userName %></p>
        <p><strong>Email:</strong> <%= session.userEmail || '' %></p>
        <!-- Aquí puedes añadir más datos del usuario si los tienes en sesión -->
        <a href="/" class="btn btn-primary mt-3"><%= __('common.home') %></a>
    </section>
</main>
<%- include("footer.ejs") %>