<%- include("header.ejs") %>

        <style>
            .profile-picture{
               display: none;
            }
            .avatar{
                width: 100px;
                margin-bottom: 20px;
            }
        </style>
<main class="main-bg-container container py-5 d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
    <section class="FormCard w-100" style="max-width: 500px;">
        <h1 class="text-center mb-4"><%= __('profile.title') %></h1>
      

        <form   method="put" >

            <div class="">
                <label for="image">
                    <img class="avatar" src="https://avatar.iran.liara.run/public/48/">
                </label>
                <input class="profile-picture" type="file" accept=".jpg, .png " name="image" id="image">
            </div>
            <div>
                <label for="name"><%= __('profile.name') %></label>
                <input value="<%= session.userName %>" name="name" id="name">
            </div>
            <div>
                <label><%= __('profile.lastName') %></label>
                <input>
            </div>
            <div>
                <label><%= __('profile.email') %></label>
                <input value="<%= session.userEmail || '' %>">
            </div>
            <div>
                <label><%= __('profile.age') %></label>
                <input>
            </div>
            <div>
                <label><%= __('profile.phone') %></label>
                <input>
            </div>
            <div>
                <label><%= __('profile.city') %></label>
                <input>
            </div>
            
            
            <button type="submit" class="btn btn-primary mt-3"><%= __('common.save') %></button>
            <a  href="/signout" class="btn btn-primary mt-3"><%= __('profile.deleteUser') %></a>
        </form>
        <a href="/" class="btn btn-primary mt-3"><%= __('common.home') %></a>
    </section>
</main>
<%- include("footer.ejs") %>