<%- include("header.ejs") %>

        <style>
            .profile-picture{
               display: none;
            }
            .avatar{
                width: 100px;
                margin-bottom: 20px;
            }
        </style>
<main class="main-bg-container container py-5 d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh;">
    <section class="FormCard w-100" style="max-width: 500px;">
        <h1 class="text-center mb-4">Perfil</h1>
      

        <form   method="put" >

            <div class="mb3">
                <label for="image">
                    <img class="avatar" src="https://avatar.iran.liara.run/public/48/">
                </label>
                <input class="profile-picture" type="file" accept=".jpg, .png " name="image" id="image">
            </div>
            <div>
                <label for="name">Nombre</label>
                <input type="text" value=" <%= session.userName %>" name="name" id="name">
            </div>
            <div>
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apelldios">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= session.userEmail || '' %>">
            </div>
            <div>
                <label for="age">Edad</label>
                <input type="number" name="age" id="age">
            </div>
            <div>
                <label for="phone">Telefono</label>
                <input type="number" name="phone" id="phone">
            </div>
            <div>
                <label for="city">Ciudad</label>
                <input type="text" name="city" id="city">
            </div>
            
            
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
            <a  href="/signout" class="btn btn-primary mt-3">Borrar usuario</a>
        </form>
        <a href="/" class="btn btn-primary mt-3"><%= __('common.home') %></a>
    </section>
</main>
<%- include("footer.ejs") %>