<%-include("header.ejs") %>
<main class="main-bg-container">
    <section class="FormCard">
      <h1><%= __('signup.title') %></h1>
      <form method="post" 
        action="/signup" novalidate> 
        <div class="form_input">
          <label for="name">
            <strong><%= __('signup.name') %></strong>
          </label>
          <input class="input" 
          type="text" 
          id="name" 
          name="name"
          value="<%= name || '' %>"
          required 
          placeholder="<%= __('signup.Enter_your_name') %>" 
          autocomplete="given-name" 
           />
          <% if(errors.name)  { %>
            <div class="alert">
              <%= errors.name.msg %>
            </div>
          <% } %>
        </div>
        <div class="form_input">
          <label for="phone">
            <strong><%= __('signup.phone_label') %></strong>
          </label>
          <input class="input" 
          type="text" 
          id="phone" 
          name="phone"
          value="<%= phone || ""  %>" 
          autocomplete="tel" 
          placeholder="<%= __('signup.phone_format_example') %>" 
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" 
          title="Format (123-123-123)" />
          <% if(errors.phone)  { %>
            <div class="alert">
              <%= errors.phone.msg %>
            </div>
          <% } %>
          <span class="optional-text"><%= __('signup.optional') %></span>
        </div>
        <div class="form_input">
          <label for="email">
            <strong><%= __('signup.email') %></strong>
          </label>
          <input class="input" 
          type="email" id="email" 
          placeholder="<%= __('signup.email') %>" 
          autocomplete="email" 
          name="email" 
          value="<%= email || ''  %>"
          required />
          <% if(errors.email)  { %>
            <div class="alert">
              <%= errors.email.msg %>
            </div>
          <% } %>
        </div>
        <div class="form_input">
          <label for="password">
            <strong><%= __('signup.password') %></strong>
          </label>
          <input class="input" 
          type="password" 
          id="password" 
          placeholder="<%= __('signup.password') %>" 
          name="password" 
          value="<%= password || '' %>"
          required 
          />
          <% if(errors.password)  { %>
            <div class="alert">
              <%= errors.password.msg %>
            </div>
          <% } %>
        </div>
        <div class="form_action">
          <button type="submit" class="btn">
            <%= __('signup.register') %>
          </button>
        </div>
      </form>
    </section>
</main>
<%-include("footer.ejs") %>